.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0.5em;
}

a {
  color: #61dafb;
}

form {
  margin: 0.5em;
}

.user-display {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.user-display > div {
  text-align: center;
}

.user-list-display {
  margin: 1em;
}

.user-display:first-child {
  font-weight: bold;
  color: cornsilk;
  background-color: grey;
}
